<div class="container">
    <div class="logo">Helpjuice</div>
    <h1 class="title">Search Report by IP</h1>
    <%= form_with url: searches_path, method: :get, local: true do%>
        <%= text_field_tag :ip, params[:ip], placeholder: "Enter IP address (e.g., 192.168.1.1)", class:"ip-input", id:"ipInput"%>
        <%= submit_tag "Search", class:"back-btn"%>
    <% end %>

    <% if @searches.any? %> 
        <div class="results-section" id="results">
            <h3 class="results-title">Top Search Terms</h3>
            <ul class="search-list" id="searchList">
                <% @searches.each_with_index do |(search_query, count), index| %>
                    <li class="search-item">
                        <span class="search-rank">#<%= index + 1%></span>
                        <span class="search-topic"><%= search_query %></span>
                        <span class="search-count"><%= count %> times</span>
                    </li>
                <% end %>
            </ul>
        </div>
    <% elsif params[:ip].present? %>
                <div class="no-results" id="noResults">
                    No search data found for this IP address.
                </div>
    <% end %>
</div>

<div class="container-analytics">
    <h2 class="title-analytics">Want to go back to search?</h2>
    <%= link_to "Return to Search Box", root_path, class:"btn"%>
</div>