<div class="container">
    <div class="logo">Helpjuice</div>
    <h1 class="title">Search Report by IP</h1>
    <%= form_with url: searches_path, method: :get, local: true do%>
        <%= text_field_tag :ip, params[:ip], placeholder: "Enter IP address (e.g., 192.168.1.1)", class:"ip-input", id:"ipInput"%>
        <%= submit_tag "Search", class:"back-btn"%>
    <% end %>

    <% if @searches.any? %> 
        <div class="results" id="results">
            <h3>Top Search Terms</h3>
            <ul class="search-list" id="searchList">
                <% @searches.each do |search, _count| %>
                    <li><%= search %></li>
                <% end %>
            </ul>
        </div>
    <% elsif params[:ip].present? %>
                <div class="no-results" id="noResults">
                    No search data found for this IP address.
                </div>
    <% end %>

    <%= link_to "Return to Search Box", root_path, class:"back-btn"%>
</div>


<%= javascript_import_module_tag "search" %>